.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* TO DO LIST FORM */

#todoList-form {
  padding-top: 50px;
  width: 50%;
  margin: 50px auto;
}

#todoList-form input {
  height: 30px;
  width: 80%;;
  padding-left: 10px;
}

#todoList-form button {
  padding: 5px 40px;
  border: none;
  background-color: #6B7FD7;
  color: #fefefe;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 15px;
}

/* TO DO LIST ITEMS  */

.done {
  background-color: red;
}

.del-btn {
  border: none;
  background: none;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

li {
  width: 80%;
  background-color: #BFC1D1;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: none;
}

